/* You can add global styles to this file, and also import other style files */


body
{
    /* background-color:rgb(42, 34, 34); */
    margin: 0%;
}
/* 
.sun
{
  background-color: turquoise;

    
}
.moon
    {
       background-color: gray;

    } */