/* You can add global styles to this file, and also import other style files */


body
{
    /* background-color:rgb(42, 34, 34); */
    margin: 0%;
}
/* 
.sun
{
  background-color: turquoise;

    
}
.moon
    {
       background-color: gray;

    } */
       

    .caja
    {
        margin: 5px;
        padding: 0;
        width: flex;
        height: 450px;
        border-radius: 15px;
        
        display: flex;   
        background-color: rgb(132, 91, 91);                
    }

    .cajas
    {
        margin: 5px;
        padding: 0;
        width: flex;
        height: 450px;
        border-radius: 15px;
        display: flex;                   
        background-color: rgb(104, 104, 161);                
    }