<!--******* PARA LOS ERRORES INSTALE npm install @ngneat/error-tailor********
          ************https://github.com/ngneat/error-tailor************
               ********REVISAR Y ACTUALIZAR EL app.module.ts**** -->

<div class="form">

     <div *ngIf="!agradecimiento" class="msjValidar">
          <h1 class="thanks">I David Burbano and I thank you for singing me.</h1>
          <button type="menu" class="btnFinAlerta" (click)="gracias()" >
               accept
          </button>
     </div>

     <form [formGroup]="formLogin" (submit)="send()" errorTailor>
          <div>
               <label for="text">Nombres: </label>
               <input type="text" id="nombre" formControlName="nombre">

          </div>

          <div>
               <label for="text">Apellidos: </label>
               <input type="text" id="Apellidos" formControlName="apellido">

          </div>

          <div>
               <label for="text">Organizacion: </label>
               <input type="text" id="organizacion" formControlName="organizacion">

          </div>


          <div>
               <label for="email">E-mail:</label>
               <input type="text" id="email" formControlName="email">
          </div>

          <div>
               <label for="password">Password:</label>
               <input type="pasword" id="password" formControlName="password" [controlErrorsTpl]="msgpasserror">
               <!-- este es el # del template -->
          </div>

          <div class="">
               <label for="">Know Terms and Conditions <span> <a href="">Here</a></span></label> <br>
               <label for="" class="box">Accept T & C <input class="box" type="checkbox" name="" id="check"
                         formControlName="check"></label>


          </div>

          <div>
               <button [disabled]="formLogin.invalid" id="btn" class="submit" (click)="gracias()"> send

               </button>
          </div>



     </form>

</div>



<!-- <div>
     valido: {{formLogin.invalid|json}}
</div> -->



<ng-template let-error let-text="text" #msgpasserror>
     <b>Error:</b>
     <div *ngIf="error?.minlength">
          <i>You do not meet the minimum <br> characters,
               only entered: {{error?.minlength?.actualLength}} characters. </i>
     </div>
</ng-template>