.user{
    background-color: green;
    width: 150px;
    height: 150px;
} 
 
 
 
 .bodyForm{
    margin-top: 10.5em;
 }
 
 
 
 
 /* ********************MODO OSCURO********************
        ************************************************/
.formD{
    margin-top: -10em;
    background-color: rgb(24, 24, 32);
    display: table;
    margin-left: 40%;
    padding: 15px;
    border-radius: 5px;
    color: #0080FF;
    border: solid 1px #0080FF;
    box-shadow: 0 0 10  #181d22, 0 0 10 #181d22;
    box-shadow: 0 0 5px rgb(24, 24, 32), 0 0 15px rgb(24, 24, 32) ;
    width: 300px;
}

.msjValidarD{
    background-color: rgb(24, 24, 32) ;
    margin-left: 4%;
    width: 260px;
    height: 150px;
    border-radius: 20px;
    font-size: medium;
    border: solid 1px  ;
    color: #0080FF;
    box-shadow: 0 0 5px rgb(24, 24, 32), 0 0 15px rgb(24, 24, 32) ;
}

#btnD{
    margin-top: 50x;
    align-items: center;
    display: flex;   
    border: 1px;    
    height: 18px;
    padding: 1px; 
    font-size: 15px;
    color: #0080FF;
    border-radius: 2px;
    width: 36px;  
    box-shadow: 0 0 5px rgb(24, 24, 32), 0 0 15px rgb(24, 24, 32) ;
}



label{
    display: block;    
}

input.ng-invalid.ng-touchedD{/* estos ng se los encuentra en consola*/
border: solid 2px red;
box-shadow: 0 0 10px  #0095ff, 0 0 10px #ff0000,  0 0 40px #0095ff ,0 0 40px #ff0000, 0 0 80px #ff0000;

}
input.ng-validD{/* estos ng se los encuentra en consola*/
    border: solid 2px rgb(16, 238, 223);
    box-shadow: 0 0 10px  #0080FF, 0 0 15px  #0080FF;
    opacity: 0.7;
}


/*  mensaje de alerta*/



.btnFinAlertaD{
    margin-top: 15px;
    align-items: center;
    display: flex;    
    border:  1px solid #0080FF;
    height: 18px;
    background-color: #181d22; 
    padding-left: 1px; 
    font-size: 15px;
    border-radius: 5px;
    color: #0080FF;
    width: 50px; 
    margin-left: 75%;
   
}

:hover.btnFinAlertaD{
    background-color: #0080FF;
    box-shadow: 0 0 10px #0080FF, 0 0 40px #0080FF, 0 0 80px #0080FF;
    opacity: .6;
    color: rgb(16, 238, 223);
    transition: 0.5s;
    border: 1px solid rgb(16, 238, 223);
}
.thanksD{
    font-size: larger;
    padding: 15px;
}

@media(max-width:600px){
    
    .msjValidar{
        background-color: rgb(24, 24, 32);
        margin-left: 0%;
        width: 260px;
        height: 150px;
        border-radius: 20px;
        font-size: medium;
        border: solid 1px  ;
        color: #0080FF;
    }
    
    .form{
        margin-top: 0em;
        background-color:  rgb(24, 24, 32);
        display: table;         
        margin-left: 40%;
        padding: 15px;
        border-radius: 5px;
        color: #0080FF;
        border: solid 1px #0080FF;
        box-shadow: 0 0 10  #181d22, 0 0 10 #181d22;
        width: 300px;
    }
}


    /****************************MODO CLARO*************************/
        /*******************************************************/

        .form{
            margin-top: -10em;
            background-color: rgb(158, 244, 238);
            display: table;
            margin-left: 35%;
            padding: 15px;
            border-radius: 5px;
            color: #0080FF;
            border: solid 1px #0080FF;
            box-shadow: 0 0 10  #181d22, 0 0 10 #181d22;
        
            width: 300px;
        }

           
        /*  mensaje de alerta*/
        
        .msjValidar{
            background-color:rgb(16, 238, 223);;
            margin-left: 4%;
            width: 260px;
            height: 150px;
            border-radius: 20px;
            font-size: medium;
            border: solid 1px  ;
            color: #0080FF;
        }
        
        #btn{
            margin-top: 50x;
            align-items: center;
            display: flex;   
            border: 1px;    
            height: 18px;
            padding: 1px; 
            font-size: 15px;
            color: #0080FF;
            border-radius: 2px;
            width: 36px;  
        }
        
        
        
        label{
            display: block;    
        }
        
        input.ng-invalid.ng-touched{/* estos ng se los encuentra en consola*/
        border: solid 2px red;
        box-shadow: 0 0 10px  #0095ff, 0 0 10px #ff0000,  0 0 40px #0095ff ,0 0 40px #ff0000, 0 0 80px #ff0000;
        
        }
        input.ng-valid{/* estos ng se los encuentra en consola*/
            border: solid 2px rgb(16, 238, 223);
            box-shadow: 0 0 10px  #0080FF, 0 0 15px  #0080FF;
            opacity: 0.7;
        }
        
     
        
        .btnFinAlerta{
            margin-top: 15px;
            align-items: center;
            display: flex;    
            border:  1px solid #0080FF;
            height: 18px;
            background-color: #181d22; 
            padding-left: 1px; 
            font-size: 15px;
            border-radius: 5px;
            color: #0080FF;
            width: 50px; 
            margin-left: 75%;
        }
        
        :hover.btnFinAlerta{
            background-color: #0080FF;
            box-shadow: 0 0 10px #0080FF, 0 0 40px #0080FF, 0 0 80px #0080FF;
            opacity: .6;
            color: rgb(16, 238, 223);
            transition: 0.5s;
            border: 1px solid rgb(16, 238, 223);
        }
        .thanks{
            font-size: larger;
            padding: 15px;
        }



        /***************RESPONSIVE******************/


    @media(max-width:600px){
    
            .msjValidar{
            background-color:rgb(16, 238, 223);
            margin-left: 0%;
            width: 260px;
            height: 150px;
            border-radius: 20px;
            font-size: medium;
            border: solid 1px  ;
            color: #0080FF;
        }
        
        .form{
            margin-top: 0em;
            background-color: rgb(16, 238, 223);
            display: table;         
            margin-left: 40%;
            padding: 15px;
            border-radius: 5px;
            color: #0080FF;
            border: solid 1px #0080FF;
            box-shadow: 0 0 10  #181d22, 0 0 10 #181d22;
            width: 300px;
        }
    }
