<!--******* PARA LOS ERRORES INSTALE npm install @ngneat/error-tailor********
          ************https://github.com/ngneat/error-tailor************
               ********REVISAR Y ACTUALIZAR EL app.module.ts**** -->

<div>

     <form [formGroup]="formLogin" (submit)="send()" errorTailor>
          <div>
               <label for="email">E-mail:</label>
               <input type="text" id="email" formControlName="email">
          </div>

          <div>
               <label for="password">Password:</label>
               <input type="pasword" id="password" formControlName="password"
               [controlErrorsTpl]="msgpasserror">
               <!-- este es el # del template -->
          </div>

          <div>
               <button [disabled]="formLogin.invalid">Send</button>
          </div>

          <div>
               <label for="">Know Terms and Conditions <span> <a href="">Here</a></span></label> <br>
               <label for="">Accept T & C </label>

               <input type="checkbox" name="" id="check" formControlName="check">
          </div>

     </form>

</div>

<div>
     valido: {{formLogin.invalid|json}}
</div>



<ng-template let-error let-text="text" #msgpasserror>
     <b>Error:</b>
     <div *ngIf="error?.minlength">
          <i>No cumples los caracteres minimos, solo se ingreso:{{error?.minlength?.actualLength}} caracteres</i>
     </div>
</ng-template>