<!-- *******************MODO CLARO*********************** -->

<div class="pdf" *ngIf="!oscuro">
    <h3  class="textPdf">In this section you will find a direct link
         to my resume and my most important jobs. To download click
        <a href="assets/CV.pdf">  here..</a>
    </h3>
</div>


<!--******************* MODO OSCURO **********************-->

<div class="pdfD" *ngIf="oscuro">
    <h3  class="textPdfD">In this section you will find a direct link
         to my resume and my most important jobs. To download click
        <a href="assets/CV.pdf">  here..</a>
    </h3>
</div>