<div class="bodyExpanded" id="bodyExpanded"> 
    <div class="rClaro" *ngIf="!oscuro">
        
        <div class="myLife">MY Life</div>
        <!-- INICIO MENÚ -->
        <div class="sideMenu" id="menuExpanded">

            <div id="header">
                <div id="title"><span>David Burbano Realpe</span></div>
                <div id="menuBtn">
                    <div class="btns1">
                        <button class="btn1">Link 1</button> <br>
                    </div>
                    <div class="btns1">
                        <button class="btn1">Link 2</button> <br>
                    </div>
                    <div class="btns1">
                        <button class="btn1"> Link 3</button> <br>
                    </div>
                    <div class="btns1">
                        <button class="btn1"> Link 4</button> <br>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- PERFIL -->
<!-- 
        <div id="profile">
            <div id="photo"><img src="" alt=""></div>
            <div id="name"><span>David Burbano</span></div>
        </div> -->

        <!-- <div id="mItem">
            <div class="item">
                <div class="icon"><img src="" alt=""></div>
                <div id="title"><span>cloud service</span></div>
            </div>
        </div>

        <div id="itemSeparator">
            
        </div>-->

        <div id="mainContainer"> walcome</div> 

    </div>


    <!-- FIN LADO OSCURO -->







    <div class="rOscuro" *ngIf="oscuro">Menu</div>
</div>