 /* .rigth
    {
        
        margin-top: 35px;
        width: 33.3%;
        height: 390px;
        background-color: #395B64;
        border-radius: 10px;
        margin: 5px;

        
    }
    .text
        {
            padding-top: 5px;
            color: red;
           font-size: xx-large;
           font-family: 'Mochiy Pop One', sans-serif;
        }  */

        .rigth
            {
                background-color: red;
               background: fixed;
               height: 80px;
              width: 50px;
            }