<div class="backgroundBoton">
    <div class="clarobtn" *ngIf="oscuro">
        <button class="btn1" (click)="estilo()">Ligth</button>
    </div>

    <div class="oscurobtn" *ngIf="!oscuro">
        <button class="btns " (click)="estilo()">Dark</button>
    </div>
</div>



<div class="header">
    <div>
        <div *ngIf="oscuro">
            <div class="oscuro backDark">
                <h1 class="textClaro name" > Hello, I am David Burbano
                   
                </h1>
                <h2 class="textClaro am"> and I´m developer</h2>
            </div>
        </div>
        <div *ngIf="!oscuro">
            <div class="claro backligth">
                <h1 class="textOscuro name">Hello, I am David Burbano</h1>
                <h2 class="textOscuro am"> and I´m developer</h2>
            </div>
        </div>
    </div>
</div>