/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color:rgb(117, 240, 228);
}

:root{
    --darkcolor: rgb(24, 24, 32);
    --lightcolor:rgb(158, 244, 238);
    --darktext: #0080FF;
    --ligthtext: #0080FF;
    
    

}



.claro{
    background-color: var(--lightcolor);
}

.oscuro{
    background-color: var(--darkcolor) ;
}

.textClaro{    
    color:var(--ligthtext);
}

.textOscuro{
    color: var(--darktext);
}
